.container {
    padding: var(--spacing-medium) var(--spacing-small);
    margin: 0;
    max-width: 15rem;
    background-color: var(--color-surface-tertiary);
    border: 1px solid black;
    border-radius: var(--radius-primary);
    cursor: pointer;
    color: var(--color-text-primary);
    transition: var(--animation-speed-fast) ease-in-out;
}

.container:hover {
    opacity: 0.75;
    box-shadow: inset -0.1rem -0.1rem 0.1rem var(--color-shadow-primary);
}

.primary {
    background-color: var(--color-surface-tertiary);
}

.active {
    background-color: var(--color-surface-success);
}

.success {
    background-color: var(--color-surface-success);
}

.warning {
    background-color: var(--color-surface-warning);
}

.danger {
    background-color: var(--color-surface-danger);
}

.loader {
    --size: 1.25rem;
}
