.container {
    flex: 1 0.25 0;
    align-self: flex-start;
}

.title-wrapper {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-medium);
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.members {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-medium);
}

.loader {
    --size: 1.25rem;
}
