.container {
    flex: 1 0.25 0;
    align-self: flex-start;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.text {
    margin: 0;
}

.members {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-medium);
}
