.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    column-gap: var(--spacing-small);
}

.solved {
    opacity: 0.5;
    text-decoration: line-through;
}
