.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: var(--spacing-medium);
    transform: translate(0, 0);
    transition: var(--animation-speed-fast);
}

.container:hover {
    transform: translate(-0.1rem, -0.1rem);
    box-shadow: 0.5rem 0.5rem 1rem var(--color-gray);
}

.link {
    text-decoration: none;
    color: var(--color-text-primary);
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.footer {
    --size: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--size);
}

.delete-button {
    width: var(--size);
    height: var(--size);
}
