.container {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-small);
}

.input {
    border: 1px solid black;
    padding: var(--spacing-medium);
    border-radius: var(--radius-primary);
    border-color: inherit;
}

.error {
    color: var(--color-text-danger);
    border-color: var(--color-danger);
}
