.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-large) 0;
}

.title {
    margin: 0;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wrapper {
    display: flex;
    column-gap: var(--spacing-medium);
}
