.container {
    display: flex;
    flex: 1.5 0.75 0;
    flex-direction: column;
    row-gap: var(--spacing-large);
    min-width: 20rem;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-medium);
}
