.container {
    display: flex;
    flex: 1.5 0.75 0;
    flex-direction: column;
    row-gap: var(--spacing-large);
    min-width: 15rem;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-medium);
}

.loader {
    --size: 2rem;

    align-self: center;
}
